.destinations-block {
  margin-top: 262px;

  .destinations-block-title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .destinations-block-title {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
    }

    .destinations-block-view-button {
      color: #FB8F1D;
    }
  }

  .destinations-block-gallery {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;

    .destinations-block-gallery-item {
      height: 100%;
      position: relative;

      .destinations-block-gallery-item-info {
        position: absolute;
        bottom: 0;
        width: 120px;
        border-radius: 0px 6px 0px 0px;
        background-color: #fff;
        height: 56px;
        padding-top: 11px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        font-family: 'Inter';

        .place {
          font-weight: 600;
          font-size: 17px;
          color: #042521;
        }

        .country {
          font-weight: 500;
          font-size: 15px;
          color: #80918E;
        }
      }
    }
  }
}
