.travel-block {
  display: flex;
}

.logo-menu .layout-1220 {
  display: flex;
  justify-content: space-between;
}

.layout-1220 {
  width: 1220px;
}

.layout-1120 {
  width: 1120px;
}

.first-block {
  width: 50%;
}

.first-block-title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  margin-top: 40px;
}

.first-block-text {
  margin-top: 60px;
}

.first-block-text-hr {
  width: 32px;
  float: left;
}

.selectors-block {
  margin-top: 40px;
}

.selectors-block-row {
  display: flex;
  margin-bottom: 35px;
}

.selector-block {
  margin-right: 30px;
  position: relative;
}

.selectors-block select {
  width: 220px;
  height: 52px;
  border: 1px solid #AFB0B9;
  background: inherit;
  border-radius: 6px;
  padding: 0 30px;
  appearance: none;
  cursor: pointer;
}

.select-marker {
  height: 7px;
  width: 7px;
  position: absolute;
  top: 23px;
  right: 29px;
  transform: rotate(45deg);
  border-bottom: 1px solid #4A4C53;
  border-right: 1px solid #4A4C53;
}

.button {
  width: 180px;
  height: 52px;
  background: #FB8F1D;
  border-radius: 8px;
  margin-top: 16px;
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
