.testimonials-block {
  .slick-prev::before {
    color: #000;
    top: 150px;
    position: absolute;
    right: 60px;
  }

  .slick-next::before {
    color: #000;
    top: 150px;
    position: absolute;
    left: 60px;
  }

  .slick-dots {
    bottom: -70px;
  }
}

.testimonials-block .testimonials-block-item {
  margin-top: 248px;
  display: flex!important;

  .testimonials-block-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-right: 169px;

    .testimonials-block-info-title {
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 50px;
      position: absolute;
      top: -93px;
    }

    .testimonials-block-info-stars {
      display: flex;

      .star {
        margin-right: 16px;
      }
    }

    .testimonials-block-info-text {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      width: 450px;
      margin-top: 30px;
    }

    .testimonials-block-info-author {
      margin-top: 40px;
      display: flex;
      flex-direction: column;

      .name {
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 48px;
      }
    }
  }
}
